In [1]:
import sys

In [2]:
import pandas as pd

In [3]:
import sklearn

In [4]:
import keras

Using TensorFlow backend.

In [5]:
print ('Python: {} '+ format(sys.version))

Python: {} 3.7.3 (default, Mar 27 2019, 17:13:21) [MSC v.1915 64 bit (AMD64)]

In [6]:
print ('Pands: {} '+ format(pd.__version__))

Pands: {} 0.24.2

In [7]:
print ('Sklearn: {} '+ format(sklearn.__version__))

Sklearn: {} 0.20.3

In [8]:
print ('Keras: {} '+ format(keras.__version__))

Keras: {} 2.2.4

In [9]:
file = 'D:/DS_Projects/Health Projects/Autism-Child-Data.txt'

In [10]:
data = pd.read_csv(file, sep=',', index_col = None)

In [11]:
print ('shape of DataFrame: {}'.format(data.shape))

shape of DataFrame: (292, 21)

In [12]:
print (data.loc[0])

A1_Score                      1
A2_Score                      1
A3_Score                      0
A4_Score                      0
A5_Score                      1
A6_Score                      1
A7_Score                      0
A8_Score                      1
A9_Score                      0
A10_Score                     0
age_numeric                   6
gender                        m
ethnicity                Others
jundice                      no
austim                       no
contry_of_res            Jordan
used_app_before              no
result numeric                5
age_desc           '4-11 years'
relation                 Parent
ClassASD                     NO
Name: 0, dtype: object

In [13]:
data.loc[:10]

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result numeric,age_desc,relation,ClassASD
0,1,1,0,0,1,1,0,1,0,0,...,m,Others,no,no,Jordan,no,5,'4-11 years',Parent,NO
1,1,1,0,0,1,1,0,1,0,0,...,m,'Middle Eastern ',no,no,Jordan,no,5,'4-11 years',Parent,NO
2,1,1,0,0,0,1,1,1,0,0,...,m,?,no,no,Jordan,yes,5,'4-11 years',?,NO
3,0,1,0,0,1,1,0,0,0,1,...,f,?,yes,no,Jordan,no,4,'4-11 years',?,NO
4,1,1,1,1,1,1,1,1,1,1,...,m,Others,yes,no,'United States',no,10,'4-11 years',Parent,YES
5,0,0,1,0,1,1,0,1,0,1,...,m,?,no,yes,Egypt,no,5,'4-11 years',?,NO
6,1,0,1,1,1,1,0,1,0,1,...,m,White-European,no,no,'United Kingdom',no,7,'4-11 years',Parent,YES
7,1,1,1,1,1,1,1,1,0,0,...,f,'Middle Eastern ',no,no,Bahrain,no,8,'4-11 years',Parent,YES
8,1,1,1,1,1,1,1,0,0,0,...,f,'Middle Eastern ',no,no,Bahrain,no,7,'4-11 years',Parent,YES
9,0,0,1,1,1,0,1,1,0,0,...,f,?,no,yes,Austria,no,5,'4-11 years',?,NO
10,1,0,0,0,1,1,1,1,1,1,...,m,White-European,yes,no,'United Kingdom',no,7,'4-11 years',Self,YES

In [14]:
data.describe()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,result numeric
count,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000
mean,0.633562,0.534247,0.743151,0.551370,0.743151,0.712329,0.606164,0.496575,0.493151,0.726027,6.239726
std,0.482658,0.499682,0.437646,0.498208,0.437646,0.453454,0.489438,0.500847,0.500811,0.446761,2.284882
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000
50%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,6.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,8.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,10.000000

In [15]:
data.dtypes

A1_Score            int64
A2_Score            int64
A3_Score            int64
A4_Score            int64
A5_Score            int64
A6_Score            int64
A7_Score            int64
A8_Score            int64
A9_Score            int64
A10_Score           int64
age_numeric        object
gender             object
ethnicity          object
jundice            object
austim             object
contry_of_res      object
used_app_before    object
result numeric      int64
age_desc           object
relation           object
ClassASD           object
dtype: object

In [16]:
data = data.drop(['result numeric', 'age_desc'], axis=1)

In [17]:
data.loc[:1]

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age_numeric,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,relation,ClassASD
0,1,1,0,0,1,1,0,1,0,0,6,m,Others,no,no,Jordan,no,Parent,NO
1,1,1,0,0,1,1,0,1,0,0,6,m,'Middle Eastern ',no,no,Jordan,no,Parent,NO

In [18]:
x = data.drop(data.columns[18], axis=1)

In [19]:
data.loc[:1]

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age_numeric,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,relation,ClassASD
0,1,1,0,0,1,1,0,1,0,0,6,m,Others,no,no,Jordan,no,Parent,NO
1,1,1,0,0,1,1,0,1,0,0,6,m,'Middle Eastern ',no,no,Jordan,no,Parent,NO

In [20]:
y = data[data.columns[18]]

In [21]:
x.iloc[:3]

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age_numeric,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,relation
0,1,1,0,0,1,1,0,1,0,0,6,m,Others,no,no,Jordan,no,Parent
1,1,1,0,0,1,1,0,1,0,0,6,m,'Middle Eastern ',no,no,Jordan,no,Parent
2,1,1,0,0,0,1,1,1,0,0,6,m,?,no,no,Jordan,yes,?

In [22]:
x = pd.get_dummies(x);

In [23]:
x.columns.values

array(['A1_Score', 'A2_Score', 'A3_Score', 'A4_Score', 'A5_Score',
       'A6_Score', 'A7_Score', 'A8_Score', 'A9_Score', 'A10_Score',
       'age_numeric_10', 'age_numeric_11', 'age_numeric_4',
       'age_numeric_5', 'age_numeric_6', 'age_numeric_7', 'age_numeric_8',
       'age_numeric_9', 'age_numeric_?', 'gender_f', 'gender_m',
       "ethnicity_'Middle Eastern '", "ethnicity_'South Asian'",
       'ethnicity_?', 'ethnicity_Asian', 'ethnicity_Black',
       'ethnicity_Hispanic', 'ethnicity_Latino', 'ethnicity_Others',
       'ethnicity_Pasifika', 'ethnicity_Turkish',
       'ethnicity_White-European', 'jundice_no', 'jundice_yes',
       'austim_no', 'austim_yes', "contry_of_res_'Costa Rica'",
       "contry_of_res_'Isle of Man'", "contry_of_res_'New Zealand'",
       "contry_of_res_'Saudi Arabia'", "contry_of_res_'South Africa'",
       "contry_of_res_'South Korea'",
       "contry_of_res_'U.S. Outlying Islands'",
       "contry_of_res_'United Arab Emirates'",
       "contry_of_res_'United Kingdom'", "contry_of_res_'United States'",
       'contry_of_res_Afghanistan', 'contry_of_res_Argentina',
       'contry_of_res_Armenia', 'contry_of_res_Australia',
       'contry_of_res_Austria', 'contry_of_res_Bahrain',
       'contry_of_res_Bangladesh', 'contry_of_res_Bhutan',
       'contry_of_res_Brazil', 'contry_of_res_Bulgaria',
       'contry_of_res_Canada', 'contry_of_res_China',
       'contry_of_res_Egypt', 'contry_of_res_Europe',
       'contry_of_res_Georgia', 'contry_of_res_Germany',
       'contry_of_res_Ghana', 'contry_of_res_India', 'contry_of_res_Iraq',
       'contry_of_res_Ireland', 'contry_of_res_Italy',
       'contry_of_res_Japan', 'contry_of_res_Jordan',
       'contry_of_res_Kuwait', 'contry_of_res_Latvia',
       'contry_of_res_Lebanon', 'contry_of_res_Libya',
       'contry_of_res_Malaysia', 'contry_of_res_Malta',
       'contry_of_res_Mexico', 'contry_of_res_Nepal',
       'contry_of_res_Netherlands', 'contry_of_res_Nigeria',
       'contry_of_res_Oman', 'contry_of_res_Pakistan',
       'contry_of_res_Philippines', 'contry_of_res_Qatar',
       'contry_of_res_Romania', 'contry_of_res_Russia',
       'contry_of_res_Sweden', 'contry_of_res_Syria',
       'contry_of_res_Turkey', 'used_app_before_no',
       'used_app_before_yes', "relation_'Health care professional'",
       'relation_?', 'relation_Parent', 'relation_Relative',
       'relation_Self', 'relation_self'], dtype=object)

In [24]:
x.loc[1]

A1_Score                               1
A2_Score                               1
A3_Score                               0
A4_Score                               0
A5_Score                               1
A6_Score                               1
A7_Score                               0
A8_Score                               1
A9_Score                               0
A10_Score                              0
age_numeric_10                         0
age_numeric_11                         0
age_numeric_4                          0
age_numeric_5                          0
age_numeric_6                          1
age_numeric_7                          0
age_numeric_8                          0
age_numeric_9                          0
age_numeric_?                          0
gender_f                               0
gender_m                               1
ethnicity_'Middle Eastern '            1
ethnicity_'South Asian'                0
ethnicity_?                            0
ethnicity_Asian                        0
ethnicity_Black                        0
ethnicity_Hispanic                     0
ethnicity_Latino                       0
ethnicity_Others                       0
ethnicity_Pasifika                     0
                                      ..
contry_of_res_Italy                    0
contry_of_res_Japan                    0
contry_of_res_Jordan                   1
contry_of_res_Kuwait                   0
contry_of_res_Latvia                   0
contry_of_res_Lebanon                  0
contry_of_res_Libya                    0
contry_of_res_Malaysia                 0
contry_of_res_Malta                    0
contry_of_res_Mexico                   0
contry_of_res_Nepal                    0
contry_of_res_Netherlands              0
contry_of_res_Nigeria                  0
contry_of_res_Oman                     0
contry_of_res_Pakistan                 0
contry_of_res_Philippines              0
contry_of_res_Qatar                    0
contry_of_res_Romania                  0
contry_of_res_Russia                   0
contry_of_res_Sweden                   0
contry_of_res_Syria                    0
contry_of_res_Turkey                   0
used_app_before_no                     1
used_app_before_yes                    0
relation_'Health care professional'    0
relation_?                             0
relation_Parent                        1
relation_Relative                      0
relation_Self                          0
relation_self                          0
Name: 1, Length: 96, dtype: int64

In [25]:
y = pd.get_dummies(y)

In [26]:
y.iloc[:5]

   NO  YES
0   1    0
1   1    0
2   1    0
3   1    0
4   0    1

In [27]:
from sklearn import model_selection
x_train, x_test, y_train, y_test = model_selection.train_test_split(x,y,test_size=0.2)

In [28]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(233, 96)
(59, 96)
(233, 2)
(59, 2)

In [29]:
from keras.models import Sequential

In [30]:
from keras.layers import Dense

In [31]:
from keras.optimizers import Adam

In [39]:
def create_model():
    model = Sequential()
    model.add(Dense(8, input_dim = 96, kernel_initializer = 'normal',activation = 'relu'))
    model.add(Dense(4, kernel_initializer = 'normal', activation = 'relu'))
    model.add(Dense(2, activation = 'sigmoid'))
    adam = Adam(lr=0.001)
    model.compile(loss='categorical_crossentropy', optimizer = adam, metrics = ['accuracy'])
    return model

In [45]:
model = create_model()

In [46]:
print(model.summary())

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_7 (Dense)              (None, 8)                 776
_________________________________________________________________
dense_8 (Dense)              (None, 4)                 36
_________________________________________________________________
dense_9 (Dense)              (None, 2)                 10
=================================================================
Total params: 822
Trainable params: 822
Non-trainable params: 0
_________________________________________________________________
None

In [47]:
model.fit(x_train, y_train, epochs=50, batch_size=10, verbose = 1)

WARNING:tensorflow:From C:\Users\Nirbhaya\Anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/50
233/233 [==============================] - 2s 10ms/step - loss: 0.6910 - acc: 0.5665
Epoch 2/50
233/233 [==============================] - 0s 141us/step - loss: 0.6847 - acc: 0.6438
Epoch 3/50
233/233 [==============================] - 0s 137us/step - loss: 0.6751 - acc: 0.6824
Epoch 4/50
233/233 [==============================] - 0s 141us/step - loss: 0.6570 - acc: 0.7039
Epoch 5/50
233/233 [==============================] - 0s 141us/step - loss: 0.6316 - acc: 0.7511
Epoch 6/50
233/233 [==============================] - 0s 124us/step - loss: 0.5968 - acc: 0.8026
Epoch 7/50
233/233 [==============================] - 0s 141us/step - loss: 0.5528 - acc: 0.8155
Epoch 8/50
233/233 [==============================] - 0s 150us/step - loss: 0.5048 - acc: 0.8197
Epoch 9/50
233/233 [==============================] - 0s 141us/step - loss: 0.4553 - acc: 0.8841
Epoch 10/50
233/233 [==============================] - 0s 163us/step - loss: 0.4086 - acc: 0.8712
Epoch 11/50
233/233 [==============================] - 0s 120us/step - loss: 0.3670 - acc: 0.9227
Epoch 12/50
233/233 [==============================] - 0s 133us/step - loss: 0.3265 - acc: 0.9313
Epoch 13/50
233/233 [==============================] - 0s 146us/step - loss: 0.2911 - acc: 0.9399
Epoch 14/50
233/233 [==============================] - 0s 124us/step - loss: 0.2594 - acc: 0.9442
Epoch 15/50
233/233 [==============================] - 0s 133us/step - loss: 0.2363 - acc: 0.9614
Epoch 16/50
233/233 [==============================] - 0s 141us/step - loss: 0.2085 - acc: 0.9657
Epoch 17/50
233/233 [==============================] - 0s 146us/step - loss: 0.1878 - acc: 0.9657
Epoch 18/50
233/233 [==============================] - 0s 137us/step - loss: 0.1724 - acc: 0.9700
Epoch 19/50
233/233 [==============================] - 0s 154us/step - loss: 0.1529 - acc: 0.9742
Epoch 20/50
233/233 [==============================] - 0s 146us/step - loss: 0.1406 - acc: 0.9785
Epoch 21/50
233/233 [==============================] - 0s 116us/step - loss: 0.1261 - acc: 0.9785
Epoch 22/50
233/233 [==============================] - 0s 146us/step - loss: 0.1220 - acc: 0.9871
Epoch 23/50
233/233 [==============================] - 0s 137us/step - loss: 0.1095 - acc: 0.9742
Epoch 24/50
233/233 [==============================] - 0s 141us/step - loss: 0.0989 - acc: 0.9914
Epoch 25/50
233/233 [==============================] - 0s 150us/step - loss: 0.0885 - acc: 0.9957
Epoch 26/50
233/233 [==============================] - 0s 137us/step - loss: 0.0825 - acc: 0.9957
Epoch 27/50
233/233 [==============================] - 0s 163us/step - loss: 0.0765 - acc: 0.9914
Epoch 28/50
233/233 [==============================] - 0s 150us/step - loss: 0.0730 - acc: 1.0000
Epoch 29/50
233/233 [==============================] - 0s 154us/step - loss: 0.0693 - acc: 1.0000
Epoch 30/50
233/233 [==============================] - 0s 146us/step - loss: 0.0611 - acc: 1.0000
Epoch 31/50
233/233 [==============================] - 0s 146us/step - loss: 0.0572 - acc: 1.0000
Epoch 32/50
233/233 [==============================] - 0s 150us/step - loss: 0.0532 - acc: 1.0000
Epoch 33/50
233/233 [==============================] - 0s 146us/step - loss: 0.0511 - acc: 1.0000
Epoch 34/50
233/233 [==============================] - 0s 154us/step - loss: 0.0463 - acc: 1.0000
Epoch 35/50
233/233 [==============================] - 0s 124us/step - loss: 0.0437 - acc: 1.0000
Epoch 36/50
233/233 [==============================] - 0s 128us/step - loss: 0.0420 - acc: 1.0000
Epoch 37/50
233/233 [==============================] - 0s 146us/step - loss: 0.0390 - acc: 1.0000
Epoch 38/50
233/233 [==============================] - 0s 137us/step - loss: 0.0393 - acc: 1.0000
Epoch 39/50
233/233 [==============================] - 0s 150us/step - loss: 0.0342 - acc: 1.0000
Epoch 40/50
233/233 [==============================] - 0s 137us/step - loss: 0.0324 - acc: 1.0000
Epoch 41/50
233/233 [==============================] - 0s 137us/step - loss: 0.0315 - acc: 1.0000
Epoch 42/50
233/233 [==============================] - 0s 150us/step - loss: 0.0294 - acc: 1.0000
Epoch 43/50
233/233 [==============================] - 0s 133us/step - loss: 0.0279 - acc: 1.0000
Epoch 44/50
233/233 [==============================] - 0s 133us/step - loss: 0.0270 - acc: 1.0000
Epoch 45/50
233/233 [==============================] - 0s 150us/step - loss: 0.0251 - acc: 1.0000
Epoch 46/50
233/233 [==============================] - 0s 137us/step - loss: 0.0243 - acc: 1.0000
Epoch 47/50
233/233 [==============================] - 0s 163us/step - loss: 0.0230 - acc: 1.0000
Epoch 48/50
233/233 [==============================] - 0s 146us/step - loss: 0.0230 - acc: 1.0000
Epoch 49/50
233/233 [==============================] - 0s 133us/step - loss: 0.0220 - acc: 1.0000
Epoch 50/50
233/233 [==============================] - 0s 150us/step - loss: 0.0207 - acc: 1.0000

In [48]:
from sklearn.metrics import classification_report, accuracy_score
predictions = model.predict_classes(x_test)
predictions

array([0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1], dtype=int64)

In [53]:
print('Prediction results for neural network')

Prediction results for neural network

In [55]:
print(accuracy_score(y_test[['YES']], predictions))
print(classification_report(y_test[['YES']], predictions))

0.8813559322033898
              precision    recall  f1-score   support

           0       0.87      0.90      0.89        30
           1       0.89      0.86      0.88        29

   micro avg       0.88      0.88      0.88        59
   macro avg       0.88      0.88      0.88        59
weighted avg       0.88      0.88      0.88        59

In [57]:
from keras.layers import Dropout

In [58]:
model.add(Dropout(0.25))

WARNING:tensorflow:From C:\Users\Nirbhaya\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

In [59]:
from sklearn.metrics import classification_report, accuracy_score
predictions = model.predict_classes(x_test)
predictions

array([0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1], dtype=int64)

In [60]:
print('Prediction results for neural network')
print(accuracy_score(y_test[['YES']], predictions))
print(classification_report(y_test[['YES']], predictions))

Prediction results for neural network
0.8813559322033898
              precision    recall  f1-score   support

           0       0.87      0.90      0.89        30
           1       0.89      0.86      0.88        29

   micro avg       0.88      0.88      0.88        59
   macro avg       0.88      0.88      0.88        59
weighted avg       0.88      0.88      0.88        59